* {
  box-sizing: border-box;
  overflow: visible;
}

/*parent div in App.js*/
.parent{
  text-align: center;
  align-content: center;
}

/***************************login template**************************************/
/*card to hold form*/
.contain .login-card{
  margin-top: 100px;
  text-align: center;
  width: 40rem;
  height: 25rem;
  box-shadow: 5px 5px 20px gray;
}

/*title of card*/
.contain .cardtitle{
  color: black;
  font-size: 30px;
  margin: 20px;
}

/*login form from bootstrap*/
.contain .forms{
    margin-left: 100px;
    margin-right: 100px;
}

.contain .forms .register-group{
  margin-top: 15px;
}

/*register link*/
.contain .forms .register-link{
    color: gray;
    cursor: pointer;
}

/*logo*/
.stock-tracker-logo{
    margin-top: 50px;
    color: gray;
}



/**************************signup template********************/
/*card that hold sign up form*/
.contain .signup-card{
  margin-top: 20px;
  text-align: center;
  width: 40rem;
  height: 40rem;
  box-shadow: 5px 5px 20px gray;
  margin-bottom: 10px;
}






 
